{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Подтверждение удаления</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div>

        <div class="row">
            <form method="post">
                {% csrf_token %}
                <p>Вы уверены, что хотите удалить "{{ object.name }}"?</p>
                <button type="submit" class="btn btn-success">Удалить запись</button>
            </form>
        </div>
    </div>

{% endblock content %}