{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{refbook_name}}</h1>
        </div>
        <div class='row'>
            <div class="col-lg-6 mb-4">
                <a href="{{create_name}}" class="btn btn-success">Создать запись</a>
            </div>
        </div>
        <div class='row'>
            <!--
            {% if filter %}
                <form method="get">
                    {{ filter.form|crispy}}
                    <button type="submit" class="btn btn-success">Фильтровать</button>
                </form>
            {% endif %}
            -->
        </div>
        <div class='row'>
            <div class="mb-4" style="overflow-x:auto;">
                {% render_table table 'django_tables2/bootstrap4.html' %}
            </div>
        </div>
        

    </div>
    <!-- /.container-fluid -->
{% endblock content %}